<!--The navigation bar with links.-->
<div class="navbar">
  <a href="#" class="active">Home</a>
  <a href="#">Link</a>
  <a href="https://github.com/TempestRules">Github</a>
  <a href="#" class="right">Link</a>
</div>

<!--The big box in the top-->
<div class="header">
    <h1>WebElm</h1>
    <p>A <b>responsive</b> website created by TempestRules</p>
  </div>

<!--Row with information and links-->
  <div class="sidenav">
    <h2>About Me</h2>
    <p>Software Engineering</p>
    <h3>Games:</h3>
    <nav>
      <a routerLink="/hangman">Hangman</a>
    </nav>
  </div>